{% load static %}

<nav class="navbar-container">
        <!-- mainpage 링크 연결 -->
        <a class="navbar-link" href="{% url 'main:mainpage' %}">DGU_likelion_14th</a>
        <!-- secondpage 링크 연결 -->
        <a class="navbar-link" href="{% url 'main:secondpage' %}">Second Page</a>

            <div class="nav-item {% if request.resolver_match.url_name == 'mainpage' %}active{% endif %}">
        <a href="{% url 'main:mainpage' %}">
            <span class="nav-label">홈</span>
        </a>
    </div>

    <div class="nav-item {% if request.resolver_match.url_name == 'postpage' %}active{% endif %}">
        {<a href="{% url 'main:postpage' %}">}
            <span class="nav-label">게시판</span>
        </a>
    </div>
    </nav>
